<div class="dummySignup">
    <a ng-hide="main.isLoggedIn" ui-sref="signin">Log in</a>
    <a class="loginNav" ng-hide="main.isLoggedIn">|</a>
    <a ng-hide="main.isLoggedIn" ui-sref="login">Sign up</a>
    <a ng-show="main.isLoggedIn" class="pointer" ng-click="main.logout()">Logout</a>
</div>

<div class="row no-select">
    <div class="col-md-2">
        <div class="notesTitle rwd-break">Notes:</div>
    </div>
    <div class="col-md-10">
        <div class="notes" ng-click="playNoteC()">C</div>
        <div class="notes" ng-click="playNoteD()">D</div>
        <div class="notes" ng-click="playNoteE()">E</div>
        <div class="notes" ng-click="playNoteF()">F</div>
        <div class="notes" ng-click="playNoteG()">G</div>
        <div class="notes" ng-click="playNoteA()">A</div>
        <div class="notes" ng-click="playNoteB()">B</div>
        <div class="notes" ng-click="playNoteC2()">C</div>
    </div>
</div>

<div class="row no-select">
    <div class="col-md-2">
        <div class="chordsTitle rwd-break">Chords:</div>
    </div>
    <div class="col-md-10">
        <div class="chords" ng-click="playChordC()">C</div>
        <div class="chords" ng-click="playChordD()">D</div>
        <div class="chords" ng-click="playChordE()">E</div>
        <div class="chords" ng-click="playChordF()">F</div>
        <div class="chords" ng-click="playChordG()">G</div>
        <div class="chords" ng-click="playChordA()">A</div>
        <div class="chords" ng-click="playChordB()">B</div>
        <div class="chords" ng-click="playChordC2()">C</div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <form ng-submit="main.playSequence(main.sequence.song)">

            <h4 class="whiteFont">Sequence Generator:</h4>

            <div class="row">
                <div class="col-md-offset-4 col-md-4">

                    <div class="form-group">
                        <input class="form-control text-center" type="text" placeholder="Song Title" ng-model="main.sequence.songTitle">
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-2 col-md-8">

                    <div class="form-group">
                        <textarea ng-model="main.sequence.song" class="form-control text-center" name="sequence" rows="4" cols="120" placeholder="Type a sequence here"></textarea>
                    </div>

                    <div class="slideDiv no-select">
                        <label for="bpm" class="whiteFont">BPM:
                        </label>
                        <rzslider class="whiteFont" rz-slider-model="main.bpm.value" rz-slider-options="main.bpm.options"></rzslider>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-5 col-md-3 buttonDiv">

                    <button type="submit" class="btn btn-primary btn-lg orangeBtn text-center">Play</button>

                    <button type="button" class="btn btn-primary btn-lg orangeBtn text-center" ng-click="main.saveSequence(main.sequence)" ng-disabled="main.canSave">Save</button>

                </div>
            </div>

        </form>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4 class="whiteFont">Instructions:
        </h4>
        <p class="whiteFont">Compose full songs by typing out quarter notes, chords, and rests. <a ui-sref="login">Sign up</a> or <a ng-hide="main.isLoggedIn" ui-sref="signin">log in</a>
 to save your sequence.</p>
        <ul class="whiteFont">
            <li>For notes use their corresponding letters
                <i>(i.e. a b c d e f g)</i>
            </li>
            <li>For chords use their corresponding letters and apostrophe
                <i>(ex: e' b' g')</i>
            </li>
            <li>The period character represents a rest (ex: e . f')</li>
            <li>Remember to separate everything with a space!</li>
        </ul>
        <div class="sampleStuff">
          <h4 class="whiteFont sampleTitle">Example Song: Mary Had a Little Lamb:
          </h4>
          <p class="whiteFont sampleSong"><i>C C G G A A G' . F F E E D D C' . G G F F E E D' . G G F F E E D' . C C G G A A G' . F F E E D D C2'</i></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <h4 class="whiteFont">Song Library:</h4>

        <div class="whiteFont" ng-repeat="song in main.allSongs">
            <p>
                <strong>{{ song.title }}:</strong>
                {{ song.song }}
                <button type="button" class="btn" ng-click="main.playSong(song.song)">PLAY</button>
            </p>
        </div>

    </div>
</div>
