<h3>Basic View</h3>

<div class="dummySignup">
  <form action="" >
    <label for="email"></label>
    <input type="text">
    <label for="password"></label>
    <input type="password">
    <button type="button" class="btn btn-success-outline">Submit</button>
  </form>

  <a href="/loggedin">TEST LINK TO LOGGED IN</a>
  <a href="/login">Log in</a>
  <a href="/signup">Sign up</a>
</div>


<section class="chordsTitle">Chords:
  <div class="chords">A</div>
  <div class="chords">B</div>
  <div class="chords">C</div>
  <div class="chords">D</div>
  <div class="chords">E</div>
  <div class="chords">F</div>
  <div class="chords">G</div>
</section>


<textarea class="sequenceForm"  name="sequence" rows="4" cols="120" placeholder="Put your sequence here"></textarea>

<div class="buttonDiv">
  <button type="button" class="btn btn-primary btn-lg orangeBtn">Play</button>
  <button type="button" class="btn btn-primary btn-lg orangeBtn">Save</button>
</div>

<section class="notesTitle">Notes:
  <div class="notes">A</div>
  <div class="notes">B</div>
  <div class="notes">C</div>
  <div class="notes">D</div>
  <div class="notes">E</div>
  <div class="notes">F</div>
  <div class="notes">G</div>
</section>
