<section>Chords</section>
  <div class="chords">A</div>
  <div class="chords">B</div>
  <div class="chords">C</div>
  <div class="chords">D</div>
  <div class="chords">E</div>
  <div class="chords">F</div>
  <div class="chords">G</div>

<textarea name="sequence" rows="8" cols="40" placeholder="Put your sequence here"></textarea>

<section>Notes</section>
  <div class="notes">A</div>
  <div class="notes">B</div>
  <div class="notes">C</div>
  <div class="notes">D</div>
  <div class="notes">E</div>
  <div class="notes">F</div>
  <div class="notes">G</div>
