<form ng-submit='auth.handleAuth()'>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="auth.user.email">
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" class="form-control" placeholder="example123" ng-model="auth.user.username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="auth.user.password">
  </div>

  <button type="submit" class="btn btn-default">Sign Up</button>
</form>
