body {
  padding: 50px;
  font-family: 'Quicksand', sans-serif;
  background-image: url("background2.jpg");
  height: 100%;
}

a {
  color: #00B7FF;
}

h1 {
  color: #e600e6;
  font-size: 50px;

}

.chordsTitle {
  font-size: 32px;
  color: hotpink;
  margin-top: 6%;
}

.chords {
  color: #ffffff;
  border: 2px solid white;
  display: inline-block;
  margin-left: 3%;
  padding: 2%;
  border-radius: 10px;
}

div.chords:active {
    background-color: hotpink;
    }

.notesTitle {
  font-size: 32px;
  color: peachpuff;
  margin-bottom: 20px;
}

.notes {
  color: #ffffff;
  border: 2px solid white;
  display: inline-block;
  margin-left: 3%;
  padding: 2%;
  border-radius: 10px;
}

.notes:first-child {
  margin-left: 58px;
}

div.notes:active {
    background-color: peachpuff;
    }

.sequenceForm {
  margin-top: 4%;
}

.orangeBtn {
  background-color: #bfbfbf;
  margin-bottom: 4%;
  margin-top: 3%;
}

.orangeBtn:hover {
  background-color: #bfbfbf;
}

.dummySignup {
  float: right;
  margin-top: -5%;
  margin-right: -10%;
}

.footie {
  position: fixed;
  bottom: 0%;
  right: 0%;
  left: 0%;
  /*text-align: center;*/
}

.authors {
  text-align: center;
}

li {
  list-style-type: none;
  display: inline;
  color: white;
  margin-left: 2%;
}

.paddingDiv {
  height: 20%;
  color: pink;
}

.buttonDiv {
  text-align: center;
  margin-left: -13%;
}
