<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <bm-nav></bm-nav>
        </div>
    </div>

</div>

<div class="container">

    <div class="row">
        <div class="col-md-12">
          
            <form class="form-horizontal" ng-submit='login.handleAuth()'>
              <p class="error">{{login.error}}</p>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label inputStuff">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model='login.user.email'>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label inputStuff">Password</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="login.user.password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <bm-footer></bm-footer>
        </div>
    </div>

</div>
